
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
    background-color: lightgray;

}

header {
    font-size: 5vmin;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}

#grid {
  border: black;
  border-color: black;
}

.right-border {
  border-right: .2em solid steelblue
}
.left-border {

}
.top-border {

}
.bottom-border {

}